# Ignore generated data files
data/raw_iot_data.csv
data/staging/*.csv
data/archive/*.csv
data/temp_results.txt
data/master_state.json

# Ignore Python cache files
__pycache__/
.ipynb_checkpoints/
venv/
__pycache__/
*.pyc
.env
